*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html{
    font-size: 10px;
}
body{
    font-size: 1.5rem;
    font-family: Proxima Nova,helvetica neue,helvetica,arial,sans-serif;
    white-space: nowrap;
}
.grid{
    display: grid;
}
.flex{
    display: flex;
    align-items: center;
}
.flexjustify{
    justify-content: space-between;
}
.container{
    width: 100%;
    min-height: 100vh;
    grid-template-rows: 1fr auto;
}
.toplayout{
    grid-template-rows: auto auto auto auto;
    position: sticky;
    top: 0;
    left: 0;
}
header{
    background-color: rgb(31,32,34);
    color: white;
}
.headerpad{
    padding: 0.8rem 0rem;
}
.marginwidth{
    width: 80%;
    margin: auto;
}
ul{
    list-style: none;
    gap: 1rem;
}
.logo{
    width: 3rem;
    transform: scale(2.5);
}
.word{
    width: 7.3rem;
    object-fit: cover;
}
.searchbox{
    width: 35rem;
    background-color: rgb(210,210,211);
    border-radius: 0.2rem;
}
input:focus{
    outline: none;
}
.searchalign{
    padding: 0rem 0.5rem;
    color: rgb(84,84,84);
}
.search{
    width: 32rem;
    padding: 0.95rem 0rem;
    background-color: rgb(210,210,211);
    border: none;
} 
.signup{
    background-color: rgb(39,143,220);
    border: none;
    border-radius: 0.4rem;
    color: white;
    padding: 0.65rem 2.2rem;
    font-size: 1.5rem;
    font-weight:600;
}
.navbarback{
    background-color: rgb(251, 251, 251);
    color:rgb(111,111,111);
}
.headergap{
    gap:3.5rem;
}
.spriteimg{
    background-image: url(./Image/icons-87310c47.png);
}
.upload {
    background-position: 13.6rem 7.8rem;
}
.headergap1{
    gap: 2.7rem;
}
.navgap{
    gap:1rem;
}
.navborder{
    border-bottom: thin solid rgb(220,220,220);
}
.navbar{
    padding: 1.4rem 2.2rem;
}
.colorgap{
    gap:0.4rem;
}
.colornavgap{
    gap: 4rem;
}
.navcolor{
    color: rgb(159,159,159);
}
.selectnav, .navhov:hover{
    color: rgb(0,0,0);
    border-bottom: medium solid rgb(42,146,220);
}
.colorflex{
    flex-grow: 5;
    justify-content: flex-end;
}
.advflex{
    flex-grow: 4;
}
.colorbox{
    display: inline-block;
    height: 2rem;
    width: 2rem;
    border-radius: 0.3rem;
}
.color1{
    background-color: rgb(234,78,20);
}
.color2{
    background-color: rgb(162,70,21);
}
.color3{
    background-color: rgb(238,120,10);
}
.color4{
    background-color: rgb(240,157,155);
}
.color5{
    background-color: rgb(251,235,13);
}
.color6{
    background-color: rgb(252,207,0);
}
.color7{
    background-color: rgb(144,226,0);
}
.color8{
    background-color: rgb(94,173,3);
}
.color9{
    background-color: rgb(76,179,212);
}
.color10{
    background-color: rgb(0,98,198);
}
.color11{
    background-color: rgb(146,92,185);
}
.color12{
    background-color: rgb(233,98,147);
}
.color13{
    border: thin solid rgb(156,156,156);
    background-color: rgb(255,255,255);
}
.color14{
    background-color: rgb(124,124,124);
}
.color15{
    background-color: rgb(0,0,0);
}
a{
    text-decoration: none;
    color: inherit;
}
.commonspr{
    width: 3rem;
    height: 2.5rem;
    background-size: 52rem;
}
.blkwhite{
    background-position: 16.5rem 7.8rem;
}
.shallow {
    background-position: 25.7rem 7.8rem;
}
.minimalist {
    background-position: 22.7rem 7.8rem;
}
.patterns {
    background-position: 19.6rem 7.8rem;
}
.toggle{
    width: 2.6rem;
    height: 1.6rem;
    background-position: 66.7rem 19.8rem;
    background-size: 52rem;
} 
.lastnavcolor{
    background-color: rgb(243,245,246);
}
.lastnav{
    font-size: 1.3rem;
}
.iconcolor{
    color: rgb(115,123,128);
}
.share{
    width: 2rem;
    height: 1.8rem;
    background-position: 50rem 47.8rem;
    background-size: 450px;
}
.sharegap{
    gap:0.8rem;
}
.commongrid{
    background-size: 540px;
    width: 1.8rem;
    height: 2rem;
}
.thumbnail {
    background-position: 32.7rem 1.7rem;
}
.justified{
    background-position: 35.6rem 5.25rem;
}
.tile{
    background-position: 82.4rem 5.2rem;
}
.viewgap{
    gap:1.5rem;
}
.mainpad{
    padding: 4rem 0rem;
}
.maincont{
    grid-template-rows: 1fr auto;
    gap: 4rem;
}
.viewstyle{
    padding: 1rem 0rem;
    font-size: 1.7rem;
}
.everycolor{
    color:rgb(39,33,36);
}
.viewcolor{
    color: rgb(20,117,195);
}
.viewcolor:hover{
    text-decoration: underline;
}
.imgdetail{
    grid-template-rows: auto 1fr;
}
.imagecont{
    grid-template-columns: repeat(auto-fit,minmax(8rem,1fr));
    grid-auto-flow: dense;
    gap: 0.5rem;
}
img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}
.imagecont> :nth-child(2n){
    grid-column: span 3;
}
.imagecont> :nth-child(5n),.imagecont> :first-child,.imagecont> :last-child{
    grid-column: span 4;
}
.justcen{
    justify-self: center;
    align-self: center;
}
.load{
    padding: 0.8rem 1.5rem;
    background-color: rgb(151,158,162);
    border: none;
    border-radius: 0.3rem;
    color: rgb(254,251,231);
    font-weight: bold;
    font-size: 1.6rem;
}
footer{
    grid-template-rows: auto auto auto;
    background-color: rgb(33,33,36);
}
.end{
    justify-content: flex-end;
}
.footermargin{
    width: 60%;
    margin: auto;
    font-size: 1.3rem;
}
.footerdes{
    border-bottom: thin solid rgb(56,56,58);
    color: rgb(255,255,255);
}
.footerdes1{
    color: rgb(157,157,166);
}
.footerpad{
    padding: 1.7rem 0rem;
}
.facebook{
    background-position: 61.7rem 31.8rem;
}
.twitter{
    background-position: 62.1rem 40.7rem;
}
.camera{
    background-position: 62.3rem 29.7rem;
}
.cursorpoint{
    cursor: pointer;
}
.cursorhov:hover{
    color: rgb(157,157,166);
    cursor: pointer;
}