.mainComp{
    width: 100%;
    min-height: 83rem;
    background-color: #F6F8FC;
}
main{
    width: 45%;
    height: 100%;
    margin: 0 auto;
    display: grid;
    grid-template-rows: auto auto 1fr;
}
.headline{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.5rem 0rem;
}
.flex{
    display: flex;
    justify-content: center;
    align-items: center;
}
.gap{
    gap: 1.5rem;
}
.news{
    height: 5.5rem;
    width: 5.5rem;
    border-radius: 50%;
    background-color: #489788;
    color: white;
}
.head{
    font-size: 2.8rem;
}
.follow{
    color: #353636;
    font-size: 1.4rem;
}
.favourite{
    padding: 0.4rem 1rem;
    border: 1px solid #dadce0;
    gap:1rem;
    border-radius: 2rem;
    cursor: pointer;
    background-color: #ffffff;
}
.share{
    gap:1rem;
}
.material-icons-outlined{
    font-size: 1.7rem;
}
.topic{
    padding: 0.8rem 1.5rem;
    border: 1px solid #dadce0;
    border-radius: 1rem;
    cursor: pointer;
}
.wrap{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-wrap: wrap;
    column-gap: 1.5rem;
    row-gap: 1rem;
    color: #444746;
    padding-bottom: 3rem;
    font-size: 1.4rem;
    font-weight: 600;
}
.clickedTopic{
    background-color: #c2e7ff;
    border: none;
}
.favourite:hover{
    background-color: #f1ecec;
}