.clickBox{
    height: 100%;
    width: 100%;
    border: 1px solid;
    background-color: rgb(228, 224, 224);
}
.smallBox{
    position: absolute;
    height: 1.5rem;
    width: 1.5rem;
    background-color: rgb(169, 114, 231);
    border: 1px solid;
}
.highLightBox{
    background-color: aqua;
    transform: scale(1.5);
}