*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html{
    font-size: 10px;
}
body{
    font-size: 2rem;
}
:root{
    --frontWidth : 60rem;
    --frontHeight : 60rem;
    --sideWidth : 20rem;
    --contFrontWidth : 10.5rem;
    --contFrontHeight : 12rem;
    --contSideWidth : 20rem; 
    --distance : 1700;
    --currentRack : 0; 
}
.fullContainer{
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: auto 1fr;
    height: 100vh;
    width: 100vw;
    padding: 2rem;
    row-gap: 5rem;
    column-gap: 2rem;
}
.searchBox{
    border: 1px solid;
    padding: 1rem;
    background-color: #4cc9f0;
    z-index: 1;
}
.search{
    gap: 2rem;
}
.inputpad{
    padding: 0.5rem;
}
.flex{
    display: flex;
    align-items: center;
    justify-content: center;
}
.contStyle, .containerStyle div{
    background-color: #fdc500;
}
.containerStyle{
    animation: rotate-animation 2s linear infinite;
    z-index: 1;
}
@keyframes rotate-animation {
    0% {
      transform: rotate3d(0,1,0,0deg) scale3d(1,1,1);
    }
    25%{
        transform: rotate3d(0,1,0,15deg) scale3d(0.8,0.8,0.8);
      }
    50%{
        transform: rotate3d(0,1,0,0deg) scale3d(1,1,1);
      }
    75%{
        transform: rotate3d(0,1,0,-15deg) scale3d(0.8,0.8,0.8);
      }
    100%{
        transform: rotate3d(0,1,0,0deg) scale3d(1,1,1);
      }  
}
.pathColor{
    color: #3a0ca3;
    font-weight: bold;
}
button{
    background-color: #3a0ca3;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    font-size: 1.5rem;
    cursor: pointer;
    font-weight: bold;
}
button:hover{
    background-color: #5110e9;
}
.formlayout{
    padding: 2rem;
    background-color: #4cc9f0;
}
#billform{
    display: none;
    grid-area: 1/2/2/3;
    border: 0.1rem solid black;   
}
.containerRack{
    grid-area: 2/1/3/2;
}
.containerRack{
    display: grid;
    grid-template-rows: auto 1fr;
    gap: 5rem;
}
#error{
    display: none;
    color: red;
}
.space{
    z-index: 1;
}
.blinkContainer{
    animation: blink-animation 1s linear infinite;
    z-index: 1;
}
@keyframes blink-animation {
    0% {
      transform: scale(1);
    }
    50%{
        transform: scale(1.1);
      }
    100%{
        transform: scale(1);
      }
  }
.blinkContainer div{
    background-color: red;
}
.createList{
    grid-area: 2/2/3/3;
    z-index: 1; 
}
#listContainer{
    display: grid;
    grid-template-rows: auto 1fr;
    height: 70rem;
}
.listHeader{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    border-bottom: 1px solid black;
}
.medicineList{
    display: grid;
    grid-auto-rows: auto;
    background-image: linear-gradient(130deg, #4895ef, #4cc9f0);
    overflow-y: scroll;
}
.boldText{
    font-weight: bold;
    background-color: #3a0ca3;
    color: white;
}
.listStyle{
    padding: 0.5rem;
}
.minimumQuantity{
    background-color: red;
}
.iconpad{
    padding: 0rem 1rem;
    cursor: pointer;
}
.iconpad:hover{
    color: rgb(219, 219, 223);
    font-weight: bolder;
}
.container{
    display: grid;
    justify-content: center;
}
.scene{
    width: 100rem;
    height: 50rem;
    perspective: 200rem;
    perspective-origin: right;
    transform-style: preserve-3d;
    position: absolute;
}
.cube{
    position: relative;
    transform-style: preserve-3d;
    transform: translate3d(15px, 18px, 30px);
}
.face{
    position:absolute;
    border: 0.1rem solid black;
}
.rackBackground{
    background-color: #C2B9B0;
}
.frontBack{
    height: var(--frontHeight);
    width: var(--frontWidth);
}
.front{
    transform: rotateY(0deg) translateZ(100px);
    display: grid;
    grid-template-rows: repeat(4,1fr);
}
.back{
    transform: rotateY(180deg) translateZ(100px);
}
.leftRight{
    height: var(--frontHeight);
    width: var(--sideWidth);
}
.right{ 
    transform: rotateY(90deg) translateZ(500px);
}
.left{
    transform: rotateY(-90deg) translateZ(100px);
}
.topBottom{
    height: var(--sideWidth);
    width: var(--frontWidth);
}
.top{
    transform: rotateX(90deg) translateZ(100px);
}
.bottom{
    transform: rotateX(-90deg) translateZ(500px);
}
.shelf{
    border: 1px solid black; 
    display: grid;
    grid-template-columns: repeat(5,1fr);
}
.medBox{
    width: 12rem;
    height: 12.5rem;
    transform-style: preserve-3d;
    perspective: 100rem;
    perspective-origin: right;
} 
.contBackground{
    background-color: blue;
}
.contFrontBack{
    height: var(--contFrontHeight);
    width: var(--contFrontWidth);
}
.contFront{
    transform: rotateY(0deg) translateZ(100px);
    opacity: 0.8;
    font-size: 1.5rem;
    text-align: center;
}
.contBack{
    transform: rotateY(180deg) translateZ(100px);
}
.contLeftRight{
    height: var(--contFrontHeight);
    width: var(--contSideWidth);
}
.contRight{
    transform: rotateY(90deg) translateZ(0px);
}
.contLeft{
    transform: rotateY(-90deg) translateZ(100px);
}
.contTopBottom{
    height: var(--contSideWidth);
    width: var(--contFrontWidth);
}
.contTop{
    transform: rotateX(90deg) translateZ(100px);
}
.contBottom{
    transform: rotateX(-90deg) translateZ(20px);
}
.rack1,.rack2,.rack3,.rack4,.rack5{
    transition: 2s;
}
.rack5{
    transform: translate3d(150px,0px,calc(4*var(--distance)*(-1px) + (var(--currentRack)*var(--distance)*1px)));
}
.rack4{
    transform: translate3d(150px,0px,calc(3*var(--distance)*(-1px) + (var(--currentRack)*var(--distance)*1px)));
}
.rack3{
    transform: translate3d(150px,0px,calc(2*var(--distance)*(-1px) + (var(--currentRack)*var(--distance)*1px)));
}
.rack2{
    transform: translate3d(150px,0px,calc(1*var(--distance)*(-1px) + (var(--currentRack)*var(--distance)*1px)));
}
.rack1{
    transform: translate3d(150px,0px,calc(0*var(--distance)*(-1px) + (var(--currentRack)*var(--distance)*1px)));
} 