*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html{
    font-size: 10px;
}
body{
    font-size: 1.8rem;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    font-family: sans-serif;
    white-space: nowrap;
}
:root{
    --frontWidth : 60rem;
    --frontHeight : 60rem;
    --sideWidth : 20rem;
    --contFrontWidth : 10.5rem;
    --contFrontHeight : 12rem;
    --contSideWidth : 20rem; 
    --distance : 1250;
    --currentRack : 0; 
}
img{
    height: 5rem;
}
h3{
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.logoColor{
    color: rgb(19,113,189);
}
sub{
    font-size: 1rem;
    font-style: italic;
}
.fullContainer{
    display: grid;
    grid-template-rows: auto 1fr;
    height: 100vh;
    width: 100vw;
    gap: 2rem;
}
.layOut{
    display: grid;
    grid-template-columns: 2fr 1fr auto;
    gap: 2rem;
    min-height: 0;
    padding: 1rem;
}
.search{
    gap: 2rem;
}
.searchBox{
    width: 20%;
}
.searchMedicine{
    width: 100%;
    border: 1px solid black;
    border-right: none;
    border-top-left-radius: 2rem;
    border-bottom-left-radius: 2rem;
}
.searchMedicine:focus{
    outline: none;
}
.clear{
   font-size: 2rem !important;
   padding: 0.75rem;
   border: 1px solid black;
   border-left: none;
   cursor: pointer;
   color: #bab7b7;
   background-color: white;
}
.clear:hover{
    color: black;
}
#searchBtn{
    padding: 0.5rem 1rem;
    border-radius: 0rem;
    border-top-right-radius: 2rem;
    border-bottom-right-radius: 2rem;
}
#salesQuantity{
    width: 30%;
}
.inputpad{
    padding: 1rem;
}
.shadow{
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
h4{
    padding-bottom: 1rem;
}
.flex, .items{
    display: flex;
    align-items: center;
    justify-content: center;
}
.contStyle, .containerStyle div{
    background-color: rgb(189,236,143) !important;
}
.containerStyle>div{
    animation: rotate-animation 2s linear infinite;
    z-index: 11;
}
.containerStyle p:last-child, .blinkContainer p:last-child, .contStyle p:last-child{
    display: flex;
}
@keyframes rotate-animation {
    0% {
      transform: translate3d(1.5rem, 1.8rem, 3rem);
    }
    50%{
        transform: translate3d(1.5rem, 1.8rem, 15rem);
      }
    100%{
        transform: translate3d(1.5rem, 1.8rem, 3rem) ;
      }
}
.sticker{
    padding: 0.3rem;
    background-color: white;
}
.displayQuantity{
    display: none;
}
.pathColor{
    color: rgb(19,113,189);
    font-weight: bold;
}
button{
    background-color: rgb(19,113,189);
    color: white;
    border: none;
    padding: 1rem 2rem;
    border-radius: 2rem;
    font-size: 1.5rem;
    cursor: pointer;
    font-weight: bold;
}
button:hover,.go:hover{
    background-color: rgb(29, 132, 216);
}
.formlayout{
    font-size: 1.7rem;
    padding: 1rem;
    border: 0.1rem solid #ddd;   
    box-shadow: rgb(42 149 247 / 15%)
}
.salesLayout{
    background-color: rgb(245 252 252);
    box-shadow: rgb(47 171 250 / 17%) 0px -23px 25px 0px inset, 
    rgb(43 143 235 / 15%) 0px -36px 30px 0px inset, 
    rgb(45 171 251 / 10%) 0px -79px 40px 0px inset, 
    rgb(44 188 249 / 6%) 0px 2px 1px inset, 
    rgb(45 158 244 / 9%) 0px 4px 2px inset, 
    rgb(44 149 246 / 9%) 0px 8px 4px inset, 
    rgb(42 162 237 / 9%) 0px 16px 8px inset, 
    rgb(42 166 245 / 9%) 0px 32px 16px inset;
    font-size: 1.7rem;
    padding: 1rem;
}
.quantity{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.font{
    font-weight: bold;
}
#billform{
    display: none; 
}
.containerRack{
    display: grid;
    grid-template-rows: auto 1fr;
    gap: 5rem;
    padding-top: 2rem;
}
.space{
    z-index: 11;
}
.blinkContainer{
    animation: blink-animation 1s steps(5, start) infinite;
    z-index: 11;
}
@keyframes blink-animation {
    to{
        visibility: hidden;
    }
  }
.minimumQuantity, .blinkContainer div{
    background-color: #ef4949 !important;
    color: white;
}
.createList{
    grid-area: 2/2/3/3;
    z-index: 11; 
    display: grid;
    grid-template-rows: repeat(2,1fr);
    gap: 2rem;
}
#listContainer{
    display: grid;
    grid-template-rows: auto 1fr;
    border: 1px solid #ddd;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 1.6rem;
    min-height: 0;
    box-shadow: rgb(0 0 0 / 24%) 0px 3px 8px;
}
.listHeader, .medicineList>div{
    display: grid;
    grid-template-columns: repeat(2,1fr);
}
.medicineList{
    display: grid;
    grid-auto-rows: auto;
    overflow-y: scroll;
    cursor: pointer;
}
.medicineList>div:nth-child(even),.searchBox,.formlayout{
    background-color: rgb(250,249,252);
}
.billHead{
    background-color:rgb(240 244 245);
}
.boldText{
    font-weight: bold;
    background-color: rgb(198, 200, 202);
}
.listStyle{
    padding: 0.5rem;
}
.iconpad,.cancel{
    padding: 0rem 0.5rem;
    cursor: pointer;
}
.iconpad:hover{
    color: rgb(96, 96, 99);
    font-weight: bolder;
}
.gap{
    gap: 1rem;
}
.displayInput{
    display: none;
    gap: 0.5rem;
}
.inputWidth{
    width: 5rem;
}
.go{
    border: 1px solid;
    background-color: rgb(19,113,189);
    color: white;
    border-radius: 50%;
    font-size: 1.4rem !important;
    padding: 0.3rem;
    text-align: center;
}
.billing{
    display: none;
    grid-template-rows: auto auto auto 1fr auto;
    min-height: 0;
    border: 1px solid #ddd;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 1.6rem;
    padding: 0.5rem 1rem;
    box-shadow: rgb(0 0 0 / 24%) 0px 3px 8px;
}
.billLogo{
    height: 3rem;
}
.border{
    border-bottom: 1px dotted #ddd;
    padding: 0.3rem;
}
.date{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.billList{
    display: grid;
    grid-template-rows: auto 1fr;
    min-height: 0;
}
.items{
    display: grid;
    grid-template-columns: 2fr 1fr 1fr 1fr 1fr;
}
.direction{
    flex-direction: column;
}
.cart{
    display: grid;
    grid-auto-rows: 3rem;
    overflow-y: auto;
    min-height: 10rem;
}
.cancel{
    font-size: 1.8rem;
}
.cancel:hover{
    color: rgb(29, 160, 236);
}
.container{
    width: 90rem;
    height: 60rem;
    perspective: 150rem;
    perspective-origin: right;
    padding: 5rem 2rem;
}
.list{
    display: grid;
    grid-template-rows: auto 1fr;
    gap: 2rem;
    min-height: 0;
}
.scene{
    transform-style: preserve-3d;
    transform: translateZ(calc(var(--currentRack)*var(--distance)*(1px)));
    transition: 2s transform linear;
}
.cube{
    position: relative;
    transform-style: preserve-3d;
    transform: translate3d(1.5rem, 1.8rem, 3rem);
}
.face{
    position:absolute;
    border: 0.1rem solid black;
}
.rackBackground{
    background-color: rgb(198 200 202);
}
.frontBack{
    height: var(--frontHeight);
    width: var(--frontWidth);
}
.front{
    transform: rotateY(0deg) translateZ(calc(var(--sideWidth)/2));
    display: grid;
    grid-template-rows: repeat(4,1fr);
}
.back{
    transform: rotateY(180deg) translateZ(calc(var(--sideWidth)/2));
}
.leftRight{
    height: var(--frontHeight);
    width: var(--sideWidth);
}
.right{ 
    transform: rotateY(90deg) translateZ(calc(var(--frontWidth) - (var(--sideWidth)/2)));
}
.left{
    transform: rotateY(-90deg) translateZ(calc(var(--sideWidth)/2));
}
.topBottom{
    height: var(--sideWidth);
    width: var(--frontWidth);
}
.top{
    transform: rotateX(90deg) translateZ(calc(var(--sideWidth)/2));
}
.bottom{
    transform: rotateX(-90deg) translateZ(calc(var(--frontHeight) - (var(--sideWidth)/2)));
}
.shelf{
    border-bottom: 1px solid black; 
    display: grid;
    grid-template-columns: repeat(5,1fr);
}
.rackNameStyle{
    font-size: 1rem;
}
.medBox{
    width: 12rem;
    height: 12.5rem;
    transform-style: preserve-3d;
    perspective: 100rem;
    perspective-origin: right;
} 
.contBackground{
    background-color: #2faff9;
}
.contFrontBack{
    height: var(--contFrontHeight);
    width: var(--contFrontWidth);
}
.contFront{
    transform: rotateY(0deg) translateZ(calc(var(--contSideWidth)/2));
    opacity: 0.8;
    font-size: 1.2rem;
    text-align: center;
    flex-direction: column;
    gap: 2px;
    color: black !important;
}
.contBack{
    transform: rotateY(180deg) translateZ(calc(var(--contSideWidth)/2));
}
.contLeftRight{
    height: var(--contFrontHeight);
    width: var(--contSideWidth);
}
.contRight{
    transform: rotateY(90deg) translateZ(calc(var(--contFrontWidth) - (var(--contSideWidth)/2)));
}
.contLeft{
    transform: rotateY(-90deg) translateZ(calc(var(--contSideWidth)/2));
}
.contTopBottom{
    height: var(--contSideWidth);
    width: var(--contFrontWidth);
}
.contTop{
    transform: rotateX(90deg) translateZ(calc(var(--contSideWidth)/2));
}
.contBottom{
    transform: rotateX(-90deg) translateZ(calc(var(--contFrontHeight) - (var(--contSideWidth)/2)));
}
#rack_1,#rack_2,#rack_3,#rack_4,#rack_5{
    transition: 3s;
}
#rack_5{
    transform: translate3d(60px,0px,calc(4*var(--distance)*(-1px)));
    z-index: 6;
}
#rack_4{
    transform: translate3d(60px,0px,calc(3*var(--distance)*(-1px)));
    z-index: 7;
}
#rack_3{
    transform: translate3d(60px,0px,calc(2*var(--distance)*(-1px)));
    z-index: 8;
}
#rack_2{
    transform: translate3d(60px,0px,calc(1*var(--distance)*(-1px)));
    z-index: 9;
}
#rack_1{
    transform: translate3d(60px,0px,calc(0*var(--distance)*(-1px)));
    z-index: 10;
} 
